@media screen and (max-width: 1700px){
    .hero-content{
        top: 60%;
    }
    .quaked-box {
        width: 100%;
    }
    .quaked-box h2 {
    font-size: 40px;
    }
    .quaked-box h1{
        margin-left: 0;
    }
    .playlist-container::before{
        top: 10%;
        left: 35.1%;
    }
    .spotify-btn{
        left: 35.1%;
    }

}
@media screen and (max-width: 767px){

    .hero-content{
        width: 80%;
    }
    .hero-main{
        width: 100%;
        border-radius: 0;
    }
    .hero{
        padding-top: 0;
    }
    .logo img {
    width: 90%;
    }
    .logo {
        top: 5%;
        left: -55%;
    }
    .hero{
        height: 50vh;
    }
    .hero-content p {
    font-size: 17px;
    line-height: 20px;
    }
    .hero-content h5 {
    margin-bottom: 12px;
    font-weight: 600;
    }
    .hero{
        height: auto;
    }
    .hero-main{
        height: 60vh;
    }
    .sec-title{
        flex-wrap: wrap;
    }
    .sec-title img{
        margin-top: -5px;
    }
    .hero-content {
        top: 54%;
    }
    .sec-title{
        margin-bottom: 10px;
    }
    .quaked-iteam{
        padding: 0;
    }
    .quaked-main{
        margin: 0 auto;
    }
    .sec-title h2{
        font-size: 25px;
    }
    .filter-box{
        padding: 20px;
    }
    .filter-section{
        background: #151515;
    }
    .filters{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .sort-by{
        margin-right: auto;
    }
    select{
        font-size: 14px;
        padding: 10px 5px;
    }
    .center-title h1 {
    font-size: 43px;
    line-height: 100%;
    font-weight: 900;
}
.main-playlist{
    margin-bottom: 25px;
    flex-direction: column;
}
.playlist-left{
    width: 100%;
    padding-left: 40px;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
}
.playlist-left p{
    width: auto;
}

.playlist-left p span {
    font-size: 16px;
}
.playlist-right{
    width: 100%;
}
.playlist-container::before {
        top: 7%;
        left: 12.1%;
    }
    .main-playlist p{
        font-size: 16px;
        margin: 0;
    }
    .playlist-container::before{
        height: 70%;
    }
    .playlist-left p{
    font-size: 16px;
    margin-left: 20px;
    margin-top: 10px;
}
.playlist-right::before {
    content: "";
    position: absolute;
    top: -58%;
    left: 1.5%;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background: #fff;
}
    .playlist-container::before{
        top: 9%;
    }
}


@media screen and (max-width: 600px){
    .spotify-btn{
        left: 12.1%;
        bottom: 7%;
    }
    .spotify-btn img{
        width: 200px;
    }
    .playlist-container::before {
        height: 75%;
        width: 1.5px;
    }
    .playlist-right::before {
        content: "";
        position: absolute;
        top: -30%;
        left: 1%;
        width: 12px;
        height: 12px;
        border-radius: 100%;
        background: #fff;
    }
    .center-title h1 {
        font-size: 35px;
        line-height: 100%;
        font-weight: 900;
    }
    .headphone{
        display: none;
    }
    .about {
    width: 95%;
    margin: 0 auto;
    padding-top: 10px;
}
.about-container h1 {
    font-size: 16px;
    line-height: 100%;
    font-weight: 600;
}
.about-container p {
    font-size: 13px;
    font-weight: 600;
    line-height: 0;
    margin: 20px 0 15px;
}
.fixed-arrrow img{
    width: 40px;
}
.quaked-box{
    border-radius: 15px;
}
}